@import url('bootstrap.min.css');

@font-face {
  font-family: 'Mido';
  /* for IE */
  src: url('Mido.otf');
  /*for others.. check local first*/
  src: local('Mido.otf'),
       url('Mido.otf') format('opentype');
}

html {overflow: auto;}
body {
  background: #f4f5f5 url('../img/bg.png') no-repeat center 0;
  font-family: 'Open Sans', sans-serif;
  color: #4B76A7;
}
.iimc{ background: url('../img/50logo.png') no-repeat 330px center;} 
label, select, input[type=button], input[type=submit]{
  color: #39444F;
  font-family: 'Open Sans', sans-serif !important;
}


h1,h2{
  font-family: 'Mido'; 
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}
table thead{
  background: #4B76A7;
  color: #d9d9d9;
}
#loginform{
  margin-top: 40px;
  color: #BBB;
  margin-bottom: 80px;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  background: white; 
}
.actions{
  border: 0px;
  background: transparent;
}
.tiles .actions{
  margin: 0px;
  padding: 0px;
}
.tiles{
  padding: 20px 0px;
  margin: 40px 0;
  background: white;
} 
.tiles .btn{
  margin-top: 8px;
}
.mainactions{
  margin-top: 20px;
} 
.mainactions input[type=button]{
  margin: 0px 10px;
}
.header{
  background: url('../img/bg_grid.png') repeat;
  padding-top: 50px;
  padding-bottom: 45px;
  margin: 0px auto;
  text-align: center;
  margin-bottom: 40px;
  -webkit-box-shadow: inset 0px 0px 5px #000000;
}
.header h1,h2{ color: #EFF0F1;
  font-size: 42px;
}

h2{font-size: 28px;}
h3{ font-size: 18px;
  color: #4B76A7;}
h4{
  font-size: 18px;
  color: #4B76A7;
  border-bottom: 1px solid #d9d9d9;
  padding: 10px 0px 10px 70px;
  margin-bottom: 30px;
}
footer{
  width: 580px;
  margin: 0px auto;
  margin-top: 50px;
  border-top: 1px solid #D9D9D9;
  text-align: center;
}
footer p{
  font-size: 12px; 
  color: #BBB;
}

#bidTable{
  margin-top: -20px;
  margin-bottom: 40px;
}
section {
  padding-top: 40px;
}
.courseSubmit{
  border-top: 1px solid #ddd;
}

.courseSubmit input[type=submit]{
  margin-left: 100px;
}
.courseSubmit a {
  float: right;
}
.bidScore{
  margin-top: 40px;
  border-top: 1px solid #DDD;
  padding-bottom: 20px;
}

.bidScore h5:first-child{
  float:left;
  margin-right: 10px;
  color: #4B76A7;
  font-weight: 300;
}

.bidScore h5:last-child{
  color: #4b76A7;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
